<section class="bg-white text-gray-900 py-20 px-6 rounded-lg shadow-xl">
  <div class="container mx-auto flex flex-col md:flex-row items-center">
    <!-- Profile Image -->
    <div class="w-full md:w-1/2 mb-8 md:mb-0">
      <div
        class="w-40 h-40 md:w-64 md:h-64 mx-auto rounded-full overflow-hidden transform hover:scale-105 transition-transform duration-300"
      >
        <img
          src="assets/images/profileDp.png"
          alt="Saqib's Profile"
          class="w-full h-full object-cover rounded-full border-4 border-gray-300"
          style="object-position: 50% 20%"
        />
      </div>
    </div>

    <!-- About Me Text -->
    <div class="w-full md:w-1/2 text-center md:text-left">
      <h2 class="text-5xl font-extrabold mb-6 animate-fadeInDown">About Me</h2>
      <p class="text-lg leading-relaxed animate-fadeInUp">
        Hello, I'm <span class="font-semibold">Muhammad Saqib Rafique</span>, a
        passionate and goal-driven Senior Software Engineer specializing in
        front-end development. With extensive experience in Angular, TypeScript,
        HTML, and CSS, I have led teams and delivered high-quality, responsive
        applications. I thrive on solving complex problems and ensuring seamless
        integration between front-end and back-end systems. I have a track
        record of mentoring junior developers and optimizing workflows, having
        built successful projects like the Zuub Dental RCM platform and a
        Slack-integrated reporting system for Kayak. I am committed to clean
        code and best practices to drive success and innovation.
      </p>
      <a
        href="#contact"
        class="inline-block mt-8 bg-blue-500 text-white px-6 py-3 rounded-full font-semibold hover:bg-blue-600 transition-colors duration-300"
      >
        Contact Me
      </a>
    </div>
  </div>
</section>
