<header class="bg-blue-900 py-4 shadow-lg sticky top-0 z-50">
  <nav class="container mx-auto flex justify-between items-center">
    <!-- Logo / Name -->
    <div (click)="navigateToMain()" class="text-3xl font-extrabold text-white cursor-pointer">Muhammad Saqib Rafique</div>

    <!-- Desktop Navigation Links -->
    <ul class="hidden md:flex space-x-6 text-white">
      <li><a href="#about" class="hover:text-blue-300">About</a></li>
      <li><a href="#projects" class="hover:text-blue-300">Projects</a></li>
      <li><a href="#skills" class="hover:text-blue-300">Skills</a></li>
      <li><a href="#contact" class="hover:text-blue-300">Contact</a></li>
    </ul>

    <!-- Mobile Menu Button -->
    <button
      (click)="toggleMenu()"
      class="md:hidden text-white focus:outline-none"
    >
      <i
        class="fas"
        [ngClass]="isMenuOpen ? 'fa-times fa-2x' : 'fa-bars fa-2x'"
      ></i>
    </button>
  </nav>

  <!-- Mobile Navigation with Transitions -->
  <ul
    [ngClass]="isMenuOpen ? 'menu-open' : 'menu-closed'"
    class="bg-blue-800 text-white flex-col items-center space-y-4 text-center py-4 md:hidden transition-all duration-500 ease-in-out overflow-hidden"
  >
    <li><a href="#about" class="hover:text-blue-300">About</a></li>
    <li><a href="#projects" class="hover:text-blue-300">Projects</a></li>
    <li><a href="#skills" class="hover:text-blue-300">Skills</a></li>
    <li><a href="#contact" class="hover:text-blue-300">Contact</a></li>
  </ul>
</header>
