<section class="bg-gray-100 text-gray-800 py-20 px-6 rounded-lg shadow-xl">
  <h2 class="text-4xl font-extrabold text-center mb-10">Projects</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    <div
      *ngFor="let project of projects"
      class="relative bg-white p-6 rounded-lg shadow-lg hover:shadow-2xl transform hover:scale-105 transition-transform duration-300"
    >
      <!-- Project Image -->
      <div class="h-48 overflow-hidden rounded-t-lg mb-4">
        <img
          [src]="project.image"
          alt="{{ project.name }}"
          class="object-cover h-full w-full transition-transform duration-300 hover:scale-110"
        />
      </div>

      <!-- Project Info -->
      <div>
        <h3 class="text-2xl font-bold mb-2">{{ project.name }}</h3>
        <p class="mb-4">{{ project.description }}</p>
        <a
          [href]="project.link"
          target="_blank"
          class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition-colors"
        >
          View Project
        </a>
      </div>
    </div>
  </div>
</section>
