<div
  class="min-h-screen bg-gradient-to-br from-purple-500 via-blue-500 to-indigo-600 text-white"
>
  <app-header />
  <main class="container mx-auto py-10">
    <section id="about">
      <app-about />
    </section>
    <hr class="my-8 border-t-2 border-gray-300" />
    <section id="projects">
      <app-projects />
    </section>
    <hr class="my-8 border-t-2 border-gray-300" />
    <section id="skills">
      <app-skills />
    </section>
    <hr class="my-8 border-t-2 border-gray-300" />
    <section id="contact">
      <app-contact />
    </section>
  </main>
  <app-footer />
</div>
